<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <body class="text-center">

      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand" id="moto">LEARN ON THE FLY</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active" href="/">Home</a>
              <a class="nav-link light" href="/student">Students</a>
              <a class="nav-link" href="/trainer">Trainers</a>
              <a class="nav-link" href="/course">Courses</a>
              <a class="nav-link" href="/assignment">Assignments</a>
            </nav>
          </div>
        </header>
          <div>
            <main >
            <table class="table table-striped  table-light">
              <thead>
                <tr class="table-active table-dark">
                  <th colspan="5" id="table-name">Courses</th>
                </tr>
                <tr class="table-active table-dark" id="table-name">
                  <th scope="col">Title</th>
                  <th scope="col">Stream</th>
                  <th scope="col">Type</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < course.length; i++) { %>
                <tr>
                  <td><%= course[i].title %></td>
                  <td><%= course[i].stream %></td>
                  <td><%= course[i].type %></td>
                  <td><%= course[i].start_date.toDateString() %></td>
                  <td><%= course[i].end_date.toDateString() %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </main>
              </div>
              <footer class="footer fixed-bottom">     
                <p class="footer-links">
                  <a href="/">Home</a>
                  ·
                  <a href="/student">Students</a>
                  ·
                  <a href="/trainer">Trainers</a>
                  ·
                  <a href="/course">Courses</a>
                  ·
                  <a href="/assignment">Assignments</a>
                  ·
                </p>  
                <p class="footer-company-name">Learn on the fly &copy; 2021</p>
          
              </footer>
       </body>
      </html>